body {
    background-color: steelblue;
    /* background-repeat: norepeat;
    background-size: cover; */
}


#google-link:link {
    color: blue;
}

.para-text {
    /* color: white; */
    color: rgb (83, 91, 105);
}